<a href="https://colab.research.google.com/github/yane010/Latihan/blob/main/FTDS-assignment-bay/p0-ftds032-rmt-lc2-yane010/h8dsft_P0LC2_yane_indriani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PERKENALAN**

---


**LIVE CODE 2**



---


Nama  : Yane Indriani ---
Batch : RMT-032

---


PROGRAM INI DI BUAT UNTUK MENGANALISA DATA PERJALANAN DARI PENYEDIA JASA TRANSPORTASI

In [1]:
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id_akun = "regal-box-422502-t6" #GUNAKAN GCP PROJECT-ID KALIAN MASING-MASING
client = bigquery.Client(project=project_id_akun)

Authenticated

In [42]:
import pandas as pd
import numpy as np

In [6]:
df = client.query('''
SELECT *
FROM `ftds-hacktiv8-project.phase0_ftds_032_rmt.taxi_fare`
''').to_dataframe()

df.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_km,fare,tips,payment_type,company,pickup_location,dropoff_location
0,DP-250,D-7,2021-05-18 19:30:00+00:00,2021-05-18 19:45:00+00:00,3.057746,9.00,0.0,Cash,Deluc Porter,POINT (-87.6333080367 41.899602111),POINT (-87.6635175498 41.874005383)
1,DP-289,D-7,2021-05-30 15:15:00+00:00,2021-05-30 15:45:00+00:00,21.082354,35.50,0.0,Cash,Deluc Porter,POINT (-87.913624596 41.9802643146),POINT (-87.6950125892 42.001571027)
2,DP-316,D-7,2021-06-05 19:30:00+00:00,2021-06-05 19:45:00+00:00,7.242030,14.00,0.0,Cash,Deluc Porter,POINT (-87.913624596 41.9802643146),POINT (-87.8045320063 41.9850151008)
3,DP-354,D-7,2021-06-13 13:45:00+00:00,2021-06-13 14:15:00+00:00,22.369826,37.25,0.0,Credit Card,Deluc Porter,POINT (-87.913624596 41.9802643146),POINT (-87.6559981815 41.9442266014)
4,DP-501,D-7,2021-07-07 15:15:00+00:00,2021-07-07 15:30:00+00:00,3.218680,9.00,0.0,Cash,Deluc Porter,POINT (-87.6333080367 41.899602111),POINT (-87.6635175498 41.874005383)

#**ANSWER**

In [41]:
#1. Apa saja nama perusahaan yang terdapat dalam data?
'''value_counts digunakan untuk menampilkan berapa banyak nama perusahaan di tabel company'''
df.company.value_counts()

company
Federway Int.      2383
Deluc Porter       2152
Synctaxi Inc.      1778
Rocket Cab Auto    1522
Atomic Inc.        1451
Name: count, dtype: int64

In [55]:
#2. Berapa nilai minimum dan maksimum dari waktu pengambilan data?
'''.min untuk menampilkan nilai minimum dari waktu dimulai perjalanan'''
df.trip_start_timestamp.min()

Timestamp('2021-01-02 11:00:00+0000', tz='UTC')

In [57]:
'''.min untuk menampilkan nilai minimum dari waktu diakhiri perjalanan'''
df.trip_end_timestamp.min()

Timestamp('2021-01-02 11:30:00+0000', tz='UTC')

In [58]:
'''.max untuk menampilkan nilai maksimum dari waktu dimulai perjalanan'''
df.trip_start_timestamp.max()

Timestamp('2022-12-31 14:15:00+0000', tz='UTC')

In [80]:
'''.max untuk menampilkan nilai maksimum dari waktu diakhiri perjalanan'''
df.trip_end_timestamp.max()

Timestamp('2022-12-31 14:45:00+0000', tz='UTC')

In [ ]:
#3. Bandingkan jumlah banyaknya perjalanan antara seluruh perusahaan pada tahun 2022?
df[['company', 'trip_km']].groupby['trip_km'].mean()

In [ ]:
#4. Perusahaan mana yang memiliki tarif perjalanan per km termurah?

**PANDAS**

In [81]:
#1. buat kolom baru, dengan nama Keterangan_Waktu
'''membuat kolom baru bernama "keterangan waktu"'''
df = {'Keterangan Waktu' : ['Pagi', 'Siang', 'Sore', 'Malam', 'Dini Hari'],
      'Jam' : ['04:00 - 09:59', '10:00 - 15:59', '16:00 - 18:59', '19:00 - 23:59', '00:00 - 03:59']}